
$sidebar_width: 30;
$footer_height: 20;

Screen {
    &:inline {
        height: 50vh;
    }

    Digits { width: auto;}

    Placeholder { padding: 2; }
    Grid { grid-rows: auto; height: auto; }
    # Change the styles according to the breakpoint classes
    &.-narrow {
        Grid { grid-size: 1; }
    }
    &.-normal {
        Grid { grid-size: 2; }
    }
    &.-wide {
        Grid { grid-size: 4; }
    }
    &.-very-wide {
        Grid { grid-size: 6; }
    }


}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    dock: left;
}

TuiApp.-visible #tree-view {
    display: block;
    max-width: 25%;
}


#code-view {
    overflow: auto scroll;
    min-width: 100%;
    hatch: right $panel;
}
#code {
    width: auto;
}